

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        130deg,
        rgba(0, 0, 0, 0.848),
        rgba(0, 0, 0, 0.763)
    ),
    url("images/coffe.background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

body {
    background-color: #f5f0e6;
}

.container .nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

.nav-bar .logo {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px;
    display: inline-block;
}

.logo h2 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 500;
    color: orange;
    font-family: sans-serif;
}

.nav-bar ul {
    flex-basis: 50em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar ul li {
    padding: 10px 5px;
    border-radius: 8px;
}

.nav-bar ul li {
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
    font-family: sans-serif;
}

.nav-bar ul li a:hover {
    color: orange;
}

.nav-bar button {
    margin-top: 0.60rem;
    border: none;
    padding: 8px 17px;
    background-color: orange;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5;
    transition: 0.1s;
}

.nav-bar button:hover {
    background-color: transparent;
    border: 2px solid orange;
}

.container .content {
    width: 100%;
    height: max-content;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 67px;
    padding-right: 85px;
}

.content .left-section {
    flex-basis: 40%;
    padding-left: 66px;
    margin-top: 45px;
}

.left-section h1 {
    font-size: 3rem;
    font-weight: 900;
    font-family: cursive, sans-serif;
    color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

.left-section h2 {
    font-size: 2rem;
    font-weight: 900;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

.left-section span {
    display: block;
    color: white;
    font-size: 1rem;
    font-weight: 900;
    width: 80%;
}

.left-section .buttons {
    margin-top: 1rem;
}

.left-section button {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    margin: 5px;
    font-weight: 400;
    outline: none;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 3%;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s ease-in-out;
}

.left-section button:hover {
    background-color: rgb(181, 143, 72);
    color: black;
}

.left-section .socials {
    margin-top: 1rem;
}

.socials .fa-brands {
    margin-left: 0.60%;
    font-size: 2rem;
    margin: right;
    cursor: pointer;
    transition: 0.2s ease;
}

.socials .fa-facebook,
.socials .fa-square-twitter,
.socials .fa-square-pinterest,
.socials .fa-square-instagram {
    color: white;
}

.socials .fa-brands:hover {
    color: #c4923e;
}

.container .right-section {
    padding: 1rem;
}

.container .right-section img {
    width: 550px;
    padding-right: 40px;
}

.about {
    color: #2e1f1f;
    margin-top: 80px;
}

.main {
    width: 80%;
    display: block;
    margin: 0px auto;
    padding: 50px 0px;
    overflow: hidden;
}

.about-text {
    width: 100%;
    text-align: center;




